<%%#= jquery_datepickers ["audit_plan_fecha_prevista"] %>
<%%= title "Editar <%= singular_name %>" %>

<%% form_for(@<%= singular_name %>, :html => {:class => "form"}) do |f| %>
  <%%= f.error_messages %>

<% for attribute in attributes -%>
  <div class="group">
    <%%= f.label :<%= attribute.name %>, nil, :class => "label" %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => "<%= attribute.field_type %>" %>
    <span class="description">Descripción del campo</span>
  </div>
<% end -%>
  <div class="group navform">
    <%%= f.submit "Actualizar", :class => 'button' %> o <%%= link_to 'Mostrar', @<%= singular_name %> %> o <%%= link_to 'Cancelar', :back  %>
  </div>
<%% end %>
